<footer class="footer">
    <div class="disigned">
        <h6 data-i18n="footer.disigned">Designed & Developed by</h6>
        <a href="#">
            <span data-i18n="footer.name">XP DESIGN</span>
        </a>


    </div>
    <div class="socials">
        <div class="social__card">
            <img src="../assets/icons/facebook.svg" alt="">
            <p>29</p>
        </div>
        <div class="social__card">
            <img src="../assets/icons/twitter.svg" alt="">
            <p>70K</p>
        </div>
        <div class="social__card">
            <img src="../assets/icons/instagram.svg" alt="">
            <p>40</p>
        </div>
        <div class="social__card">
            <img src="../assets/icons/pinterest.svg" alt="">
            <p>13K</p>
        </div>
        <div class="social__card">
            <img src="../assets/icons/youtube.svg" alt="">
            <p>168K</p>
        </div>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top-btn">
        <img src="../assets/icons/arow-up.svg" alt="Scroll to top">
    </button>
</footer>