// src/scss/base.scss

/* Обнуление стилей по умолчанию */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Установка базовых стилей */
body {
  font-family: 'Your-Font', sans-serif; /* Укажите ваш шрифт */
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Удаление подчеркивания у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Удаление стилей списков */
ul,
ol {
  list-style: none;
}

/* Другие общие стили */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
